$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$melon: #fe6b8b;
$orange: #ff8e53;
$black: #000;
$white: #fff;
$fade: rgba(0, 0, 0, 0.7);
$light-blue: #7986cb;
$primary: linear-gradient(45deg, $melon 30%, $orange 90%);
$indigo: #3f51b5;

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC");
@import url("https://fonts.googleapis.com/css?family=Merienda+One");

body {
  color: #3f51b5;
}

a {
  color: $black;
}

.map {
  display: flex;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

.home {
  color: $fade;
  display: flex;
  font: 400 100px/1.2 "Merienda One", Helvetica, sans-serif;
  justify-content: center;
  text-shadow: 3px 3px 3px $white;
}

.sub-home {
  display: flex;
  font-weight: 650;
  justify-content: center;
}

.nav-text {
  background-color: $white;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.email {
  font-weight: 650;
}

.no-trips {
  font-size: 30px;
  font-weight: 550;
}

.sidepanel {
  background-color: $light-blue;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;

  a {
    color: $indigo;
    display: block;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $black;
    }
  }
}

.sidepanel .closebtn {
  font-size: 36px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 0;
}

.ruler {
  border: 0;
  border-top: medium double #333;
  color: #333;
  overflow: visible;
  padding: 0;
  text-align: center;
}

.jn {
  color: #e91e63;
}

.spanright {
  display: inline;
  float: right;
}

.ruler::after {
  background: $white;
  content: '§';
  display: inline-block;
  font-size: 1.5em;
  padding: 0 0.25em;
  position: relative;
  top: -0.7em;
}

.trip-card {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: $white;
  border: 1px dashed #4d568f;
  border-radius: 10px;
  margin: 5vh auto;
  width: 425px;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.trip-name {
  display: flex;
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 45px;
  justify-content: center;
}

.left {
  color: $black;
  background: #cfd8dc;
  float: left;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  width: 35%;
}

.right {
  float: left;
  overflow: hidden;
  width: 65%;
  height: 100vh;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}
